{% extends 'post/static.html' %}
{% load staticfiles %}
{% load static from staticfiles %}

<!DOCTYPE html>
<html>
{% block title %}<title>Developer.pe</title>{%  endblock %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<head class="w3-light-grey">
{% block head %}
	<div >
	  <div class="w3-bar w3-left-align w3-large">
	    <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1" </a>
	    <a href="{% url 'post:index' %}" class="w3-bar-item w3-button w3-theme-l1">Home</a>
	    <a href="{% url 'post:listar_post_general' %}" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Post</a>  		
	    <a href="{% url 'post:crear_post_general' %}" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Nueva entrada</a>
	    
	  </div>
	</div>
	<header class="w3-container w3-center"> 
	  <h1><b>Developer.pe</b></h1>
	  <p>Bienvenidos<span class="w3-tag"></span></p>
	</header>
{% endblock %}
</head>
<body class="w3-light-grey">
{% block body %}
	<form method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="w3-container w3-input">
			<label>Titulo {{ form.titulo }}</label>
			<label>Fecha {{ form.fecha }}</label>
			<label>Genero {{ form.categoria }}</label><br><br>
			<div class="w3-cell-row">
				<div class="w3-cell">
					<div class="w3-container"> 
						<label>Breve descripción</label>	
					</div>
					{{ form.descripcion }}	
				</div>							 
				 <div class="w3-cell">
				 	<div class="w3-container">
				 		<label>Post</label>	
				 	</div>
				 	{{ form.nueva_entrada }}
				 </div>	 
			</div><br>
			<label >URL {{ form.imagen }} <br></label><br>
			<label >Firma {{ form.firma }}</label>
		</div><br>
		<div class="w3-container">
			<button class="w3-button w3-black w3-padding-large w3-margin-bottom" type="submit">Crear</button>
		</div>
		
	</form>
	<!-- Footer -->
	<footer class="w3-container w3-dark-grey w3-padding-32 w3-margin-top">
	  <button class="w3-button w3-black w3-disabled w3-padding-large w3-margin-bottom">Previous</button>
	  <button class="w3-button w3-black w3-padding-large w3-margin-bottom">Next »</button>
	  <p class="w3-center">OpenYourMind</p>
	  <div class="w3-container w3-center">
	  	  <p>Encuentrame tambien: </p>
		  <a href="https://www.facebook.com/openmindsan/"  target="_blank" class="icon-facebook2"></a>
		  <a href="https://twitter.com/OpenYourMindSan?lang=es"  target="_blank" class="icon-twitter"></a>
		  <a href="https://www.youtube.com/channel/UCOzf2U3BTng85gsFJHvIInQ?view_as=public"  target="_blank" class="icon-youtube2"></a>
	  </div>  
	</footer>
{% endblock %}
</body>
</html>
