.slider{
  width: 95%;
  margin: auto;
  overflow: hidden;
}

.slider ul{
  padding: 0;
  display: flex;
  width: 400%

}

.slider li{
  width: 100%;
  list-style: none;
}

.slider p{
	width: 100%;
}
